@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./index.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

#__next {
  @apply w-full;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
input:focus,
input:focus-visible {
  outline: none;
}
main > *{
  @apply w-full
}